.App{
  padding: 30px;
  border-left: 40px;
}

.circle {
    border: white;
    background-color: #FFFFFF;
    height: 100px;
    -moz-border-radius:75px;
    -webkit-border-radius: 75px;
    width: 100px;
}

#class{
  float: left;
  padding-right: 10px;
}

#item{
  padding-right: 30px;
  padding-left:  30px;
  font-size: large;
}